.home-container {
    display: flex;
    background-color: #0072b1;
    /* justify-content: flex-start; */
}

.home-container > div {
    background-color: #fff;
    width: 100%;
    /* margin: 10px; */
    text-align: center;
    /* line-height: 75px; */
    font-size: 30px;
}

.myphoto{
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about-container{
    text-align: center;
    align-items: center;
    justify-content: center;
    /* display: flex; */
}

strong{
    font-family: Switzer,sans-serif;
    font-weight: 700;
}

hr{
  border: 1px solid #6e97ff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-title{
    color: #222;
    letter-spacing: .02em;
    font-family: Switzer,sans-serif;
    line-height: 43.2px;
}

.about-paragraph{
    color: #222;
    letter-spacing: .02em;
    font-family: Switzer,sans-serif;
    font-size: 16px;
    line-height: 32.4px;
}

.about-container-holder{
    color: #6e97ff;
    letter-spacing: .06em;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: Switzer,sans-serif;
    font-weight: 600;
    line-height: 21px;
}

.about-header-container{
    width: auto;
    height: auto;
    max-width: 900px;
    text-align: left;
    background-color: #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 50px;
    position: static;
    overflow: visible;
    box-shadow: 0 3px 20px rgba(0,0,0,.1);
    text-align: center;
}

.about-me{
    color: #222;
    letter-spacing: .02em;
    font-family: Switzer,sans-serif;
    line-height: 43.2px;
}

.social-button{
    color: #fff;
    padding: 10px 10px;
    display: flex;
    justify-self: space-between;    
    font-size: 16px;
    cursor: pointer;
    gap: 50px;
    justify-content: center;    
}

.github-Icon{
    color: #171515 ;
}

.linkedin-Icon{
    color: #0072b1;
}
.twitter-Icon{
    color: #00acee;
} 

.heading{
   max-width: 800%;
}

.title{
    font-size: 30px;
    font-family: Switzer,sans-serif;
    font-weight: 700;
    line-height: 43.2px;
    color: #222;
    letter-spacing: .02em;
}

.description{
    font-size: 16px;
    font-family: Switzer,sans-serif;
    font-weight: 400;
    color: #222;
    text-justify: justify;
    width: 70%;
}


* {
    box-sizing: border-box;
  }

  .myproject  {
    float: left;
    width: 20%;
    padding: 5px;
  }

  .myproject-holder::after {
    content: "";
    clear: both;
    display: table;
  }


  .project-container-holder {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    max-width: 900px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 25px;
    /* box-shadow: 0 3px 20px rgba(0,0,0,.1); */
    text-align: center;
  }
  
  @media screen and (max-width: 900px) {
    .project-container-holder {
      width: 100%;
    }
  }
  
  .project1, .project2, .project3, .project4, .project5 {
    width: 100%;
    text-align: left;
    /* margin-bottom: 20px; */
  }
  
  .projects-heading {
    font: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
  
  }